[info] version="23"

[cluster_node] id="node_1" addr="172.31.89.27" window="wnd_1" master="false" sound="false"
[cluster_node] id="node_3" addr="172.31.90.157" window="wnd_3" master="false" sound="false"
[cluster_node] id="node_2" addr="172.31.90.156" window="wnd_2" master="true" sound="false"

[window] id="wnd_1" viewports="vp_1" fullscreen="true" WinX="0" WinY="0" ResX="1920" ResY="1080"
[window] id="wnd_2" viewports="vp_2" fullscreen="true" WinX="0" WinY="0" ResX="1920" ResY="1080"
[window] id="wnd_3" viewports="vp_3" fullscreen="true" WinX="0" WinY="0" ResX="1920" ResY="1080"

[viewport] id="vp_1" x="0" y="0" width="1920" height="1080" projection="proj_2" camera="camera_static"
[viewport] id="vp_2" x="0" y="0" width="1920" height="1080" projection="proj_1" camera="camera_static"
[viewport] id="vp_3" x="0" y="0" width="1920" height="1080" projection="proj_3" camera="camera_static"

[projection] id="proj_1" type="simple" screen="scr_2"
[projection] id="proj_2" type="simple" screen="scr_1"
[projection] id="proj_3" type="simple" screen="scr_3"

[screen] id="scr_1" size="X=3.2,Y=2.2" parent="display_left"
[screen] id="scr_2" size="X=3.2,Y=2.2" parent="display_front"
[screen] id="scr_3" size="X=3.2,Y=2.2" parent="display_right"

[camera] id="camera_static" loc="X=0,Y=0,Z=0" parent="socket_cam"# eye_dist="0.64", eye_swap="true", force_offset="none"

[scene_node] id="cave_origin" loc="X=0,Y=0,Z=0" rot="P=0,Y=0,R=0"

[scene_node] id="eye_level"   loc="X=0,Y=0,Z=1.15" rot="P=0,Y=0,R=0" parent="cave_origin"

; Front display plane center is W/2 in front of viewer
[scene_node] id="display_front" loc="X=1.6,Y=0,Z=0" rot="P=0,Y=0,R=0" parent="eye_level"

; Left: rotate at the corner hinge, then offset panel center by -W/2 in Y
[scene_node] id="angle_left"   loc="X=1.6,Y=-1.6,Z=0" rot="P=0,Y=-90,R=0" parent="eye_level"
[scene_node] id="display_left" loc="X=0,Y=-1.6,Z=0"   rot="P=0,Y=0,R=0"   parent="angle_left"

; Right: rotate at the corner hinge, then offset panel center by +W/2 in Y
[scene_node] id="angle_right"   loc="X=1.6,Y=1.6,Z=0" rot="P=0,Y=90,R=0" parent="eye_level"
[scene_node] id="display_right" loc="X=0,Y=1.6,Z=0"   rot="P=0,Y=0,R=0"  parent="angle_right"

[scene_node] id="socket_cam" loc="X=0,Y=0,Z=0" rot="P=0,Y=0,R=0" parent="eye_level"


[input] id="MAxis"    type="analog"  addr="Mouse0@127.0.0.1"
[input] id="MButtons" type="buttons" addr="Mouse0@127.0.0.1"
[input] id="KButtons" type="buttons" addr="Keyboard0@127.0.0.1"

[general] swap_sync_policy="1"

[network] cln_conn_tries_amount="10" cln_conn_retry_delay="1000" game_start_timeout="30000" barrier_wait_timeout="5000"

[custom] SampleArg1="SampleVal1" SampleArg2="SampleVal2"
